{% include "partials/header.html.twig" %}

        <main role="main" id="main">
            <!-- Article's form -->
            <div class="form">
                    <h1>{{ form_title }}</h1>
                    {{ form(form_article) }}
            </div>
        </main>

{% include "partials/footer.html.twig" %}