{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
{% endblock %}

{% block body %}
    
    <div class="jumbotron jumbotron-fluid bg-orange">
        <div class="container">
                <h1>Blog Post</h1>      
                <p>A sample blog post to understand and practice PHP with Symfony 4</p>
        </div>
    </div>
    
{% endblock %}